{% extends 'learning_logs/base.html' %} {% block page_header %}
<h1 id="page-header">Contact</h1>
{% endblock page_header %} {% block content %} {% load static %}

<style>
  .navbar,
  .navbar * {
    color: white !important;
  }

  #page-header {
    color: white !important; /* Override other styles if necessary */
  }

  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: white !important; /* Override other styles if necessary */
  }

  body {
    background-image: url('{% static "/backgrounds/background.jpg" %}');
    background-size: cover;
    background-position: center top; /* Updated background position */
    background-repeat: no-repeat;
  }

  .card {
    margin-top: 28px;
    position: relative;
    overflow: hidden;
    border: 1px solid #fff;
    z-index: 0; /* Add this line */
    /* Add backdrop filter with a heavy blur */
    backdrop-filter: blur(25px);
    background-color: rgba(
      255,
      255,
      255,
      0.3
    ); /* Fallback for browsers that don't support backdrop-filter */
  }

  .transparent-card {
    background-color: transparent;
  }

  .center-text {
    text-align: center;
  }
</style>
<div class="col-lg-12">
  <div class="card mb-3 transparent-card" style="height: auto">
    <!-- changed fixed height to auto -->
    <div
      class="card-body flex-column align-items-center justify-content-center"
    >
      <h2 class="center-text">Contact & Project Details</h2>
      <br />
      <br />
      <p>
        🛠️ This is a full-stack Django-based web application that integrates
        ChatGPT 3.5 Turbo and DALL-E 2 APIs to generate random and unique
        artwork.
      </p>
      <br />
      <p>
        ✨ To create an image, users navigate to the generation page and click
        'generate', then convert the unique prompt into visual art, which can be
        viewed in a public gallery or a private history if logged in.
      </p>
      <br />
      <p>
        🚀 I am passionate about the latest advancements in AI tools, with a
        background in software development using JavaScript, Python, and Java
        web frameworks.
      </p>
      <br />
      <p>
        📫 Connect with me via
        <a href="https://www.linkedin.com/in/obj809/" target="_blank"
          >LinkedIn</a
        >, view my projects on
        <a href="https://github.com/cyberforge1" target="_blank">GitHub</a>,
        email me at obj809@gmail.com, or follow the CyberForge
        <a href="https://www.instagram.com/cyber_forge1/" target="_blank"
          >Instagram</a
        >
        to see a selection of favourited images.
      </p>
      <br />
      <div class="d-flex justify-content-center">
        <a
          href="https://github.com/cyberforge1"
          class="btn btn-outline-light me-2"
        >
          <i
            class="fab fa-github-square social-icon fa-2x"
            aria-hidden="true"
          ></i>
        </a>
        <a
          href="https://www.linkedin.com/in/obj809/"
          class="btn btn-outline-light me-2"
        >
          <i class="fab fa-brands fa-linkedin fa-2x"></i>
        </a>

        <a
          href="https://www.instagram.com/cyber_forge1/"
          class="btn btn-outline-light me-2"
        >
          <i class="fab fa-instagram social-icon fa-2x" aria-hidden="true"></i>
        </a>
        <!-- Add an ID to the link for easier access with JavaScript -->

        <script>
          // Get a reference to the email button
          const emailButton = document.getElementById("emailButton");

          // Add a click event listener to the button
          emailButton.addEventListener("click", function (event) {
            // Prevent the default link behavior (opening the mail app)
            event.preventDefault();

            // Get the email address from the href attribute
            const emailAddress = emailButton
              .getAttribute("href")
              .replace("mailto:", "");

            // Display a prompt with the email address
            // You can customize the prompt message as needed
            alert("Email address: " + emailAddress);
          });
        </script>
      </div>
    </div>
  </div>
  <div class="mt-4"></div>
</div>
{% endblock %}
